<section class="skills-container">
  <section class="column column--right">
      <article class="card">
          <h2 class="card__title">Front End</h2>
          <div class="skills">
              <div class="skills__item">
               <p class="skills__tech">HTML</p>
               <div class="skills__bar skills__bar--40"></div>
              </div>
              <div class="skills__item">
               <p class="skills__tech">CSS</p>
               <div class="skills__bar skills__bar--40"></div>
              </div>
              <div class="skills__item">
               <p class="skills__tech">JS</p>
               <div class="skills__bar skills__bar--40"></div>
              </div>

          </div>
      </article>
      <article class="card">
          <h2 class="card__title">Back End</h2>
          <div class="skills">
              <div class="skills__item">
               <p class="skills__tech">Node Js</p>
               <div class="skills__bar skills__bar--40"></div>
              </div>
              <div class="skills__item">
               <p class="skills__tech">Python</p>
               <div class="skills__bar skills__bar--20"></div>
              </div>
          </div>
      </article>
      <article class="card">
          <h2 class="card__title">Idiomas</h2>
          <div class="skills">
              <div class="skills__item">
               <p class="skills__tech">Inglés</p>
               <div class="skills__bar skills__bar--70"></div>
              </div>
              <div class="skills__item">
               <p class="skills__tech">Español</p>
               <div class="skills__bar skills__bar--100"></div>
              </div>
          </div>
      </article>
  </section>
</section>
<br>
<br>
<br>
<br>
