<section id="portafolio" class="section-padding">
  <div class="container">
      <div class="row">
          <div class="col-12 text-center">
              <div class="section-title">
                  <h1 class="display-4 fw-semibold">Portfolio</h1>
                  <div class="line"></div>                    </div>
          </div>
      </div>
      <div class="row g-4">
          <div class="col-md-4">
              <div class="portfolio-item image-zoom">
                  <div class="image-zoom-wrapper">
                      <img src="./assets/project-1.jpg" alt="">
                  </div>

              </div>
              <div class="portfolio-item image-zoom mt-4">
                  <div class="image-zoom-wrapper">
                      <img src="./assets/project-2.jpg" alt="">
                  </div>

              </div>
          </div>
          <div class="col-md-4">
              <div class="portfolio-item image-zoom">
                  <div class="image-zoom-wrapper">
                      <img src="./assets/project-3.jpg" alt="">
                  </div>

              </div>
              <div class="portfolio-item image-zoom mt-4">
                  <div class="image-zoom-wrapper">
                      <img src="./assets/project-4.jpg" alt="">
                  </div>

              </div>
          </div>
          <div class="col-md-4">
              <div class="portfolio-item image-zoom">
                  <div class="image-zoom-wrapper">
                      <img src="./assets/project-4.jpg" alt="">
                  </div>

              </div>
              <div class="portfolio-item image-zoom mt-4">
                  <div class="image-zoom-wrapper">
                      <img src="./assets/project-3.jpg" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
