<Header>
  <nav class="nav sticky-top">
      <div class="logo">CURRICULUM</div>
      <ul class="menu">
          <li><a href="#about">About</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#portafolio">Portfolio</a></li>
      </ul>
  </nav>
  <section id="about" class="main__">
      <article class="main_">
          <div class="main_div-img">
              <img src="../../assets/yo.jpg" alt="personal foto">
          </div>
          <div class="main_div-content">
              <div class="title">
                  <h2>Samuel Munera</h2>
              </div>
              <div class="main_div-content-content">
                  <p>Desarrollador full stack, un excelente compañero para trabajar en equipo,
                      una persona lider, se adapta facilmente a un entorno de trabajo. persona empática, le encanta aprender de sus errores
                      y de los demás.
                  </p>
              </div>
          </div>
      </article>
      <article class="article-contact">
              <a class="contact btn btn-primary">Contact</a>
      </article>
  </section>
</Header>
